/* Основні стилі для всіх сторінок */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin: 20px 0;
    font-size: 2.5em;
}

#errorMessage {
    color: #ff4d4d;
    font-weight: bold;
    display: none;
    margin: 20px 0;
}

/* Адаптивність */
@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }
}
